
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | 404 Page not found</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/admin_template/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin_template/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .headline{
            font-size:7rem !important;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    
      
    
      
            
           
            <!-- Main content -->
            <section class="content d-flex justify-content-center">
                <div class="error-page ">
                   
                    <div class="error-content">
                        <h2 class="headline text-warning text-center"> 404</h2>
                        <h3 class="text-center"><i class="fas fa-exclamation-triangle text-warning"></i>Oops Sayfa Bulunamadı ! </h3>
                        <p class="text-center">
                            Ne yazık ki aradığınız sayfayı bulamadık. Biz bu sayfayı ararken sen  <a href="~/Kategori/Index/">Anasayfaya</a> dönebilirsin.
                        </p>

                    </div>             
                </div>         
            </section> 
       
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/admin_template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/admin_template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/admin_template/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/admin_template/dist/js/demo.js"></script>
</body>
</html>

